@import url("./../fonts/style.css");

.language-icon{
    margin-top: 40px;
    margin-left: 10px;
}

.title-style{
    margin-top:8%;
    margin-left: 50px;
    text-align: center;
    font-size: 18px !important;
}

.toggle-switch{
    margin-top:33px;
    margin-left:100px;
}

.toggle-switch-english{
    margin-top:33px;
    margin-left:174px;
}
