@import url("./../fonts/style.css");

.total-rvn-today {
    width: 101px;
    height: 20.5px;
    font-family: 'Avenir Next LT Pro Heavy Condensed', Sans-serif;
    font-size: 32px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    color: #288c97;
    font-weight: bold;
}

.widget-count-style {
    width: 101px;
    height: 20.5px;
    font-family: 'Avenir Next LT Pro Heavy Condensed', Sans-serif;
    font-size: 32px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    text-align: left;
    font-weight: bold;
}

.widget-title-style {
    margin-top: 12px;
    font-size: 12px !important;
}

.rp-style {
    font-size: 22px !important;
}

.text-style {
    font-size: 12px;
}

.qr-code-desc {
    width: 180px;
}

.widget-icon {
    width: 30px;
    height: 32px;
}

.qr-code-user-image {
    width: 100px;
    height: 50px;
    align-self: stretch;
}

.qr-code-image {
    width: 170px;
    height: 170px;
    align-self: stretch;
}

.color-white {
    color: #ffffff !important;
}

.price {
    font-weight: bold;
    color: #288c97;
    text-align: end;
}

.status {
    border-radius: 70px !important;
    background-color: #00E676 !important;
    color: #ffffff !important;
    text-align: center !important;
    /* font-size: 10px; */
    font-weight: bold;
    vertical-align: middle;
    position: relative;
    padding-bottom: 4%;
}

.div-title-margin-bottom {
    margin-bottom: -20px;
}

.div-title {
    font-size: 14px !important;
}

.qr-code-margin {
    margin: 5%;
}

.card-title {
    padding-top: 10px;
}

.merchantqrcode-card-content {
    margin: auto;
    text-align: center;
    width: 160px;
}

.card-content {
    font-family: 'Avenir Next LT Pro Regular', Sans-serif; 
    float: left;
    padding-top: 4%;
    padding-left: 4%;
    text-align: left;
}

.ant-table-thead {
    font-family: 'Avenir Next LT Pro Demi', Sans-serif !important;
    font-size: 12px !important;
    border-radius: 0px !important;
}

.ant-table-tbody {
    font-family: 'Avenir Next LT Pro Regular', Sans-serif !important;
    font-size: 12px !important; 
}