.link-button {
    background:none!important;
    border:none; 
    padding:0!important;
    color:#45425d;
    cursor:pointer;
}

.link-button > span {
    font-size: 12px !important;
    font-weight: bold !important;
}

.link-button:hover {
    color: lightgreen;
}

.link-button:active {
    color: hotpink;
} 