@import url("./../fonts/style.css");

.calculator-button {
    font-family: 'Avenir Next LT Pro Demi', Sans-serif;
    font-size: 20px;
    color: #d3d3d3;
    border-radius: 4.5px;
    box-shadow: 0 2.5px 3px 0 #181a27;
    background-color: #444b6b;
    margin: 0px 4px;
    height: 40px;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    border: 0px;
    line-height: 40px;
}

.calculator-operator {
    height: 88px;
}

.calculator-button-ce {
    font-size: 12px;
}

.display-calculator {
    border-radius: 6px; 
    background: #1c1e2d; 
    margin: 3px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    height: 60px;
}

.display-currency {
    top: 25px;
    font-family: 'Avenir Next LT Pro Bold', Sans-serif;
    font-size: 14px;
}

.calculator-display {
    color: #84879d;
    font-family: 'Avenir Next LT Pro Bold', Sans-serif;
    font-size: 25px;
    line-height: 68px;
    flex: 1;
}
  
.auto-scaling-text {
    display: inline-block;
}

.calculator-display .auto-scaling-text {
    padding: 0 25px;
    position: absolute;
    right: 0;
    transform-origin: right;
}

.notes {
    margin-top: 5px;
}

.notes-form {
    border-radius: 6px;
    box-shadow: 0 2px 8px 0 rgba(69, 91, 99, 0.08);
    background-color: #1c1e2d;
    border: 0px;
    color: #a0a0a0;
    height: 40px;
}

.notes-form:focus {
    border-radius: 6px;
    box-shadow: 0 2px 8px 0 rgba(69, 91, 99, 0.08);
    background-color: #1c1e2d !important;
    border: 0px;
    color: #a0a0a0;
}

.create-bill-btn {
    height: 40px;
    border-radius: 75px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    border: solid 0.5px #2a2e43;
    background-color: white;
    color: #08333d !important;
    width: 100%;
    margin-top: 20px;
    font-family: 'Avenir Next LT Pro Bold', Sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.create-bill-btn:before{
    content:  "\0000a0";
    display: inline-block;
    height: 22px;
    width: 20px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: -10px;
    background: url("../images/create-bill-icon.png") no-repeat left center transparent;
    background-size: 100% 100%;
    border-radius: unset !important;
    opacity: 1 !important;
}

.calculator-background {
    background: #2a2e43;
}

.calculator-container {
    flex: 1;
    padding: 15px;
}

.image-clear-value {
    margin-left: -20px;
    margin-top: 20px;
    height: 20px;
}